@import "mixins.scss";
@import "variables.scss";

.aboutText{
    width: 40%;
    height: 60%;
    @include flexbox($justifyContent:space-evenly,$alignItems:center,$direction:column);
    h2{
        font-size: $primaryFontSize;
    }
    h5{
        font-size: $secondaryFontSize;
    }
    p{
        font-size: $cardPFontSize;
        text-align: center;
    }
}
