@import "mixins.scss";
@import "variables.scss";

.AboutFig{
    margin-right:5%;
    width: 30%;
    height: 80%;
 border: 1px solid white;
    @include flexbox($justifyContent:center,$alignItems:center,$direction:column);
img{
    @include imgCover;
}
}