@import "mixins.scss";
@import "variables.scss";
@import "breakpoints.scss";
.formContainer {
  @include flexbox($direction: column, $alignItems: center);
      padding: 1%;

  @include md{
    @include flexbox($justifyContent:space-between)
  }

  h2 {
    text-align: center;
    font-size: $secondaryFontSize;
    margin-top: 1%;
  }
  form {
    height: 100%;
    color:white;
        width: 90%;
        display: grid;
        row-gap: 2rem;
        @include md{
          width: 100%;
        }

input,
textarea {
  width: 100%;
  border-color: transparent;
  outline: none;
  background-color: $blue;
  padding: 10px;
  font-size: 0.9rem;
  color: white;
  border-radius: 0.4rem;
  &:focus{
    border-color: white;
  }
    }
    
  .textForm{
    height: 150px;
  }
  .contactBtn{
    margin: 0 auto;
    border-radius: 40px;
    width: 100%;
    margin-bottom: 4%;
    cursor: pointer;
    &:focus{
      border-color: white;
    }

  }

  }

}
