@import "mixins.scss";
@import "variables.scss";
.formContainer {
  width: 50%;
  height: 100%;
  background-color: $darkblue;
  @include flexbox($justifyContent:center);
  border-radius: 0.5rem;
  overflow: hidden;

  h2 {
    text-align: center;
    font-size: $secondaryFontSize;
    margin-top: 1%;
  }
  form {
    @include flexbox(
      $direction: column,
      $alignItems: center,
      $justifyContent: space-between
    );
    height: 100%;
    width: 90%;
    color: #111;
    padding: 1%;
    
input,
textarea {
      width: 100%;
      border: none;
      outline: none;
      background-color: $blue;
      padding: 10px;
      font-size: 0.9rem;
      color: white;
      border-radius: 0.4rem;
    }
  textarea{
    height: 30%;
  }
  .contactBtn{
    margin-bottom: 5%;
  }

  }

}
