@import "./variables.scss";
@import "./mixins.scss";
@import "breakpoints.scss";
@import "reset.scss";

.landingpage {
  height: 100vh;
  width: 100%;
  background: $cardGradient;
  @include flexbox($alignItems: center, $justifyContent: center);

  .animated-typing {
    font-size: $slider-font-size;
    @include md{
      font-size: $slider-font-size-responsive;
    }
  }
}


.projectContainer {
  height: 100%;
  width: 100%;
  @include flexbox ($direction:row,$wrap:wrap);

  
 

}

.landingpage {
  height: 100vh;
  width: 100%;
  background: $cardGradient;
  @include flexbox($alignItems: center, $justifyContent: center);

  .animated-typing {
    font-size: $slider-font-size;
    @include md{
      font-size: $slider-font-size-responsive;
    }
  }
}

.aboutMe {
  @include flexbox($justifyContent: space-evenly,$alignItems:center);
  background-color: $blue;
  height: 80vh;
  padding: 4%;
  
  @include md{
    height: 100%;
    @include flexbox($direction:column);

  }
}

.experience{
  width: 100%;
  
  background-color: $purple;
  @include flexbox;
}

.contactPage {
  height: $vh100;
  width: 100%;
  background-color: $blue;
  @include flexbox($justifyContent: center, $alignItems:center);
 
  .contactContainer {
    @include flexbox($alignItems: center);
    border-radius: 0.5rem;

    height: 60%;
    width: 70%;
    max-width: 1200px;
    @include md{
      @include flexbox($direction:column);
      width: 100%;
      height: 90%;
    }
  }
}
