@import "./variables.scss";
@import "./mixins.scss";
@import "breakpoints.scss";
@import "reset.scss";

.landingpage {
  height: 100vh;
  width: 100%;
  background: $cardGradient;
  @include flexbox($alignItems: center, $justifyContent: center);

  .animated-typing {
    font-size: $slider-font-size;
    @include md{
      font-size: $slider-font-size-responsive;
    }
  }
}


.projectContainer {
  height: 100%;
  width: 100%;
  @include flexbox ($direction:row,$wrap:wrap);

  
 

}

.landingpage {
  height: 100vh;
  width: 100%;
  background: $cardGradient;
  @include flexbox($alignItems: center, $justifyContent: center);

  .animated-typing {
    font-size: $slider-font-size;
    @include md{
      font-size: $slider-font-size-responsive;
    }
  }
}

.aboutMe {
  @include flexbox($justifyContent: space-evenly,$alignItems:center);
  background-color: $blue;
  height: 80vh;
  padding: 4%;
  
  @include md{
    height: 100%;
    @include flexbox($direction:column);

  }
}

.experience{
  width: 100%;
  
  background-color: $purple;
  @include flexbox;
}

.contact {
  height: $vh100;
  width: 100%;
  background-color: $blue;
  @include flexbox ($direction:row,$alignItems:center,$justifyContent:center);
  .contactContainer {
    max-width: 1200px;
    margin: auto;
    height: 60%;
    width: 100%;
    @include grid("grid-template-columns", "1fr 1fr", 0px, 0px);
    gap: 1.5rem;
    color: white;
    background-color: $darkblue;
    border-radius: 0.5rem;
    overflow: hidden;

    @include md{
      @include grid("grid-template-columns", "1fr", 1rem, 1rem);
    }
  }
}
