@import "./variables.scss";
@import "./mixins.scss";

.landingpage {
  height: 100vh;
  width: 100%;
  background: $cardGradient;
  @include flexbox($alignItems: center, $justifyContent: center);

  .animated-typing {
    font-size: $slider-font-size;
  }
}

.projectContainer {
  height: 100vh;
  width: 100%;
 .cardContainer{
    @include flexbox;
 }
}

.landingpage {
  height: 100vh;
  width: 100%;
  background: $cardGradient;
  @include flexbox($alignItems: center, $justifyContent: center);

  .animated-typing {
    font-size: $slider-font-size;
  }
}

.aboutMe {
  @include flexbox($justifyContent: space-evenly,$alignItems:center);
  background-color: $blue;
  height: 80vh;
  padding: 1%;
}

.experience{
  width: 100%;
  
  background-color: $purple;
  @include flexbox;
}

.contactPage {
  height: $vh100;
  background-color: $blue;
  margin: 0 auto;
  @include flexbox($justifyContent: center, $alignItems:center);
  .contactContainer {
    @include flexbox($alignItems: center);
    border-radius: 0.5rem;

    height: 60%;
    width: 70%;
    max-width: 1200px;
  }
}
